# Database
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/whatsapp_commerce

# Server
PORT=3000
NODE_ENV=development

# Meta WhatsApp Cloud API
WHATSAPP_VERIFY_TOKEN=your_custom_verify_token
WHATSAPP_PHONE_NUMBER_ID=from_meta_dashboard
WHATSAPP_BUSINESS_ACCOUNT_ID=from_meta_dashboard
WHATSAPP_ACCESS_TOKEN=from_meta_dashboard

# Razorpay
RAZORPAY_KEY_ID=your_key
RAZORPAY_KEY_SECRET=your_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret

# Cloudinary (image uploads — store logo, product images)
CLOUDINARY_CLOUD_NAME=@dt5yyppx3
CLOUDINARY_API_KEY=279388263261934
CLOUDINARY_API_SECRET=bm27RGMXgvmru-Txu_O18gfoVY8

# JWT
JWT_SECRET=your_jwt_secret

# Email (Gmail SMTP)
GMAIL_USER=apitestvenkatesh@gmail.com
GMAIL_APP_PASSWORD=yolz nhpd nnfp ucky

# App
APP_URL=http://localhost:3000
